branches/cleveland_state_client/xml-resources/web-service-references/MetadataService/wsdl/localhost_8084/MetadataApplication/MetadataService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1-b02-RC1. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1-b02-RC1. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.service.metadata.tepietro.csu.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://impl.service.metadata.tepietro.csu.org/" name="MetadataServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://impl.service.metadata.tepietro.csu.org/" schemaLocation="http://localhost:8084/MetadataApplication/MetadataService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"></part>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"></part>
</message>
<message name="toString">
<part name="parameters" element="tns:toString"></part>
</message>
<message name="toStringResponse">
<part name="parameters" element="tns:toStringResponse"></part>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"></part>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"></part>
</message>
<message name="reset">
<part name="parameters" element="tns:reset"></part>
</message>
<message name="resetResponse">
<part name="parameters" element="tns:resetResponse"></part>
</message>
<message name="versions">
<part name="parameters" element="tns:versions"></part>
</message>
<message name="versionsResponse">
<part name="parameters" element="tns:versionsResponse"></part>
</message>
<message name="annotate">
<part name="parameters" element="tns:annotate"></part>
</message>
<message name="annotateResponse">
<part name="parameters" element="tns:annotateResponse"></part>
</message>
<message name="deAnnotate">
<part name="parameters" element="tns:deAnnotate"></part>
</message>
<message name="deAnnotateResponse">
<part name="parameters" element="tns:deAnnotateResponse"></part>
</message>
<message name="reference">
<part name="parameters" element="tns:reference"></part>
</message>
<message name="referenceResponse">
<part name="parameters" element="tns:referenceResponse"></part>
</message>
<message name="deReference">
<part name="parameters" element="tns:deReference"></part>
</message>
<message name="deReferenceResponse">
<part name="parameters" element="tns:deReferenceResponse"></part>
</message>
<message name="getNetwork">
<part name="parameters" element="tns:getNetwork"></part>
</message>
<message name="getNetworkResponse">
<part name="parameters" element="tns:getNetworkResponse"></part>
</message>
<message name="saveGraphAsJPEG">
<part name="parameters" element="tns:saveGraphAsJPEG"></part>
</message>
<message name="saveGraphAsJPEGResponse">
<part name="parameters" element="tns:saveGraphAsJPEGResponse"></part>
</message>
<portType name="MetadataService">
<operation name="add">
<input message="tns:add"></input>
<output message="tns:addResponse"></output>
</operation>
<operation name="toString">
<input message="tns:toString"></input>
<output message="tns:toStringResponse"></output>
</operation>
<operation name="delete">
<input message="tns:delete"></input>
<output message="tns:deleteResponse"></output>
</operation>
<operation name="reset">
<input message="tns:reset"></input>
<output message="tns:resetResponse"></output>
</operation>
<operation name="versions">
<input message="tns:versions"></input>
<output message="tns:versionsResponse"></output>
</operation>
<operation name="annotate">
<input message="tns:annotate"></input>
<output message="tns:annotateResponse"></output>
</operation>
<operation name="deAnnotate">
<input message="tns:deAnnotate"></input>
<output message="tns:deAnnotateResponse"></output>
</operation>
<operation name="reference">
<input message="tns:reference"></input>
<output message="tns:referenceResponse"></output>
</operation>
<operation name="deReference">
<input message="tns:deReference"></input>
<output message="tns:deReferenceResponse"></output>
</operation>
<operation name="getNetwork">
<input message="tns:getNetwork"></input>
<output message="tns:getNetworkResponse"></output>
</operation>
<operation name="saveGraphAsJPEG">
<input message="tns:saveGraphAsJPEG"></input>
<output message="tns:saveGraphAsJPEGResponse"></output>
</operation>
</portType>
<binding name="MetadataServicePortBinding" type="tns:MetadataService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="add">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="toString">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="reset">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="versions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="annotate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deAnnotate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="reference">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deReference">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getNetwork">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="saveGraphAsJPEG">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="MetadataServiceService">
<port name="MetadataServicePort" binding="tns:MetadataServicePortBinding">
<soap:address location="http://localhost:8084/MetadataApplication/MetadataService"></soap:address>
</port>
</service>
</definitions>